<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrueStrength Gym</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="home-background"></body>
    <header class="logo">
        <h1 style="color: rgb(255, 255, 255);"><center><b>Welcome to TrueStrength Gym</b></center></h1>
    </header>
    <nav><center>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/membership">Membership</a>
    </center></nav>

    <div class="main-banner">
    </div>

    <div class="box">
        <section id="services">
    <h2 style="color: yellow;">About Us</h2>
    <p style="color: white;"> We are dedicated to helping you achieve your fitness goals in a supportive and motivating environment. Our state-of-the-art facility is equipped with the latest gym equipment, offering a wide range of fitness programs tailored to all fitness levels.<br>Whether you're looking to build strength, improve your endurance, or simply live a healthier lifestyle, our certified trainers are here to guide you every step of the way. We believe that fitness is not just about working out—it's about building confidence, improving mental well-being, and living your best life.</p>
    <p style="color: white;"> </p>
    <h2 style="color: yellow;">Contact Us</h2>
    <p style="color: white;">Mail: info@truestrengthgym.com</p>
    <p style="color: white;">Phone: 0300-1111111</p>
    <p style="color: white;">Location: Gulshan-e-Iqbal, Karachi</p>
    </section>
    </div>

    <footer style="color: rgb(0, 0, 0);"><center>
        All rights reserved 2024 © | TrueStrength Gym
    </center></footer>
</body>
</html>