<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership - TrueStrength Gym</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="membership-background"></body>
    <header>
        <h1 style="color: white;"><center> TrueStrength Gym </center></h1>
    </header>
    <nav><center>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/membership">Membership</a>
    </center></nav>

<div class="box">
    <section>
    <h2 style="color: yellow;"><center><b>Memberships</b></center></h2>
    <p style="color: white;">Join our fitness community today and unlock your full potential! Whether you're a beginner or a seasoned athlete, we offer a range of membership options tailored to your goals. Enjoy access to state-of-the-art equipment, expert trainers, and a supportive environment that helps you stay motivated and achieve results. Take the first step towards a healthier, stronger you – sign up now!</p>
    </section>
    </div>

    <div class="box">
        <section>
            <h2 style="color: yellow;"> Membership Packages </h2>
            <div class="card">
                <h3> New Member Benefits</h3>
                <p> Join TrueStrength Gym today and unlock exclusive member benefits:

                    Complimentary Fitness Consultation
                    Complimentary Pilates Reformer Class
                    Complimentary month in the Recovery Studio </p>
                    <button> Learn More </button>
            </div>
            <div class="card">
                <h3> Partner Benefits</h3>
                <p> Enjoy special access to the Nike, Columbia, and Adidas company stores
                    Access to top clubs across the Pacific Northwest and around the world with our reciprocal club use through the Health and Fitness Association and FitLife
                    </p>
                    <button> Learn More</button>
            </div>

            </div>
        </section>
    </div>


    <footer style="color: rgb(0, 0, 0);"><center>
        All rights reserved 2024 © | TrueStrength Gym
    </center></footer>
    
</body>
</html>